body {background-image: url(assets/omfgdogs.gif); background-repeat: repeat;}

p, a {
	font-size: 	45px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light"; 
	margin-left: 30%;
	margin-top: 52%;
	color: white;
	
	
}